<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697345726797-mnug29jfoc1rhcmr7r2srpun5ns9v083.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697345726797-mnug29jfoc1rhcmr7r2srpun5ns9v083</string>
	<key>API_KEY</key>
	<string>AIzaSyCtQs-3BmzNIVR5SwZFt0cmOfBMDOR14HY</string>
	<key>GCM_SENDER_ID</key>
	<string>697345726797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petasampah1</string>
	<key>PROJECT_ID</key>
	<string>petasampah-gh2023</string>
	<key>STORAGE_BUCKET</key>
	<string>petasampah-gh2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697345726797:ios:3dd550cfa9f9e91dc2ff04</string>
</dict>
</plist>